/* ================= GENERAL ================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    background-color: white;
}


a {
    text-decoration: none;
}


/* navbar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 1000;
}


.nav-left {
    display: flex;
    align-items: center;
    gap: 50px;
}


.logo a {
    color: white;
    font-size: 22px;
    font-weight: bold;
}


.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}


.navbar a {
    color: white;
    font-weight: bold;
    transition: 0.3s;
}


.navbar a:hover {
    color: #00a8ff;
}

nav a.active {
    color: #ff9a9e;
    border-bottom: 3px solid #ff9a9e;
}

.book-btn {
    background-color: #00a8ff;
    padding: 11px 18px;
    border-radius: 6px;
}

.book-btn:hover {
    background-color: white;
    color: #000 !important;
}


/* hero */

.hero{
    background-image:

        linear-gradient(
            rgba(56, 12, 12, 0.029),
            rgba(0, 0, 0, 0.011)
        ),

        url("/images/aahyodya.jpg");
    
}
.page-hero {
    margin-top: 70px;
    min-height: 370px;
    background-image:

        linear-gradient(
            rgba(0, 0, 0, 0.62),
            rgba(0, 0, 0, 0.62)
        ),

        url("/images/busservi.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 50px 20px;
}


.hero-content p {
    color: #00a8ff;

    font-weight: bold;

    letter-spacing: 3px;

    margin-bottom: 15px;
}


.hero-content h1 {
    font-size: 55px;

    margin-bottom: 15px;
}


.hero-content span {
    font-size: 18px;

    color: #eee;
}


/* into */

.intro-section {
    padding: 70px 8% 30px;
}


.section-heading {
    text-align: center;

    max-width: 750px;

    margin: auto;
}


.section-heading p {
    color: #00a8ff;

    font-size: 14px;

    font-weight: bold;

    letter-spacing: 2px;

    margin-bottom: 10px;
}


.section-heading h2 {
    font-size: 40px;

    margin-bottom: 12px;
}


.section-heading span {
    color: #777;

    line-height: 1.6;
}


/* services */

.services-section {
    padding: 30px 8% 80px;
}


.services-container {
    max-width: 1200px;

    margin: auto;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 25px;
}


/* service card*/

.service-card {
    position: relative;

    padding: 35px 28px;

    background-color: white;

    border: 1px solid #e7e7e7;

    border-radius: 12px;

    min-height: 280px;

    transition: 0.3s;
}


.service-card:hover {
    transform: translateY(-8px);

    box-shadow:
        0 12px 30px rgba(0, 0, 0, 0.10);
}


.service-icon {
    width: 65px;

    height: 65px;

    display: flex;

    justify-content: center;

    align-items: center;

    background-color: #eaf8ff;

    border-radius: 12px;

    font-size: 32px;

    margin-bottom: 22px;
}


.service-card h3 {
    font-size: 22px;

    margin-bottom: 12px;
}


.service-card p {
    color: #777;

    line-height: 1.6;

    margin-bottom: 20px;
}


.service-card a {
    color: #00a8ff;

    font-weight: bold;

    transition: 0.3s;
}


.service-card a:hover {
    color: #0077aa;
}


/* feactures*/

.service-card.featured {
    border: 2px solid #00a8ff;
}


.featured-tag {
    position: absolute;

    top: 20px;

    right: 20px;

    background-color: #00a8ff;

    color: white;

    padding: 6px 10px;

    border-radius: 20px;

    font-size: 10px;

    font-weight: bold;

    letter-spacing: 1px;
}


/* process */

.process-section {
    padding: 80px 8%;

    background-color: #f5f7fa;
}


.process-container {
    max-width: 1100px;

    margin: 50px auto 0;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 30px;
}


.process-card {
    background-color: white;

    padding: 35px;

    border-radius: 10px;

    text-align: center;

    border: 1px solid #eee;
}


.process-card > span {
    display: flex;

    width: 55px;

    height: 55px;

    margin: 0 auto 20px;

    align-items: center;

    justify-content: center;

    background-color: #00a8ff;

    color: white;

    border-radius: 50%;

    font-weight: bold;

    font-size: 18px;
}


.process-card h3 {
    margin-bottom: 12px;
}


.process-card p {
    color: #777;

    line-height: 1.6;
}


/* cta */

.cta-section {
    padding: 90px 20px;

    background-color: #eaf8ff;

    text-align: center;
}


.cta-content {
    max-width: 750px;

    margin: auto;
}


.cta-content > p {
    color: #00a8ff;

    font-weight: bold;

    letter-spacing: 2px;

    margin-bottom: 12px;
}


.cta-content h2 {
    font-size: 42px;

    margin-bottom: 15px;
}


.cta-content > span {
    display: block;

    color: #666;

    line-height: 1.7;

    margin-bottom: 30px;
}


.cta-buttons {
    display: flex;

    justify-content: center;

    gap: 15px;
}


.cta-buttons a {
    display: inline-block;

    padding: 14px 25px;

    border-radius: 6px;

    background-color: #00a8ff;

    color: white;

    font-weight: bold;
}


.cta-buttons .outline-btn {
    background-color: white;

    color: #00a8ff;

    border: 1px solid #00a8ff;
}


.cta-buttons a:hover {
    opacity: 0.85;
}


/* footer*/

footer {
    background-color: #000;

    color: white;
}


.footer-container {
    padding: 60px 8%;

    display: grid;

    grid-template-columns: 2fr 1fr 1fr 1.5fr;

    gap: 40px;
}


.footer-about h2 {
    margin-bottom: 15px;
}


.footer-about p {
    color: #aaa;

    line-height: 1.6;
}


.footer-links,
.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.footer-links h3,
.footer-contact h3 {
    margin-bottom: 8px;
}


.footer-links a {
    color: #aaa;

    transition: 0.3s;
}


.footer-links a:hover {
    color: #00a8ff;
}


.footer-contact p {
    color: #aaa;
}


/* ================= FOOTER BOTTOM ================= */

.footer-bottom {
    border-top: 1px solid #333;

    text-align: center;

    padding: 20px;

    color: #777;
}


/* ================= TABLET ================= */

@media (max-width: 1000px) {

    .services-container {
        grid-template-columns: repeat(2, 1fr);
    }


    .process-container {
        grid-template-columns: 1fr 1fr;
    }


    .footer-container {
        grid-template-columns: 1fr 1fr;
    }

}


/* ================= MOBILE ================= */

@media (max-width: 768px) {

    .navbar {
        height: auto;

        padding: 15px;

        flex-direction: column;

        gap: 15px;
    }


    .nav-left {
        flex-direction: column;

        gap: 15px;
    }


    .navbar ul {
        gap: 15px;

        flex-wrap: wrap;

        justify-content: center;
    }


    .nav-right {
        display: none;
    }


    .page-hero {
        margin-top: 140px;

        min-height: 300px;
    }


    .hero-content h1 {
        font-size: 38px;
    }


    .hero-content span {
        font-size: 15px;
    }


    .services-container {
        grid-template-columns: 1fr;
    }


    .process-container {
        grid-template-columns: 1fr;
    }


    .section-heading h2 {
        font-size: 30px;
    }


    .cta-content h2 {
        font-size: 30px;
    }


    .cta-buttons {
        flex-direction: column;

        align-items: center;
    }


    .footer-container {
        grid-template-columns: 1fr;
    }

}